@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Nunito+Sans:wght@300;400;600;700&display=swap");

:root {
  --font-primary: "Nunito Sans", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --bg-header: #272b30;
  --bg-footer: #1c1e22;
  --clr-sky-primary: #38bdf8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #2a2e33;
  color: #aaa;
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: min(100%, 1200px);
  padding: 0 2rem;
  margin: 0 auto;
}

.text-muted {
  color: #7a8288;
}

.title {
  font-family: var(--font-secondary);
  font-size: 2.7rem;
  font-weight: 600;
  text-shadow: -1px -1px 0 rgb(0 0 0 / 30%);
}

.text-center {
  text-align: center;
}

.text-lead {
  color: var(--clr-sky-primary);
}

.btn{
  background: none;
  outline: 0;
  border: 1px solid transparent;
  user-select: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.6rem;
  white-space: nowrap;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0 20px;
  height: 45px;
}

.btn-primary{
  background-color: #0ea5e9;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
}
